{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Home {% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-3">
                <h2>manage <b>employees</b> 
                    <button type="button" class="btn btn-success float-right"
                     data-toggle="modal" data-target="#mymodal">Add new Employee</button>
                </h2>

                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>email</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Kabalega</td>
                            <td>paulkabalega@gmail.com</td>
                            <td>+256779971996</td>
                            <td><a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                                <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')" >Del</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}